:root {
  /* color */
  --light-gray: #b0bec9;
  --light-blue: #e2f1fc;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: white;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  margin-left: 20px;
  cursor: pointer;
  color: white;
}

#login-form {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  font-size: 42px;
}

#login-form input:first-child {
  position: relative;
  left: 50%;
  top: 18%;
  transform: translate(-50%);
  text-align: center;
  border: none;
  border-style: none;
  border-bottom: white 4px solid;
  background: transparent;
  text-align: center;
  width: 330px;
  height: 45px;
  outline: 0;
  color: white;
  font-size: 37px;
}

#login-form ::placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.t-w-container {
  position: absolute;
  right: -35px;
  top: 20px;
  transform: translate(-50%);
  text-align: end;
}

#weather span:first-child {
  font-size: 17px;
}

#weather span:last-child {
  font-size: 17px;
}

#clock {
  font-size: 30px;
}

#greeting {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  font-size: 60px;
}

#todo-form {
  display: flex;
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%);
  text-align: center;
}

#todo-form input {
  font-size: 15px;
  border: none;
  border-style: none;
  padding: 10px 0;
  width: 290px;
  height: 15px;
  background: transparent;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px 0px 0px 10px;
  outline: 0;
  background-color: var(--light-blue);
}

.submit-btn {
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 70px;
  color: rgb(20, 20, 20);
  background-color: var(--light-gray);
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  outline: 0;
}

#todo-list {
  width: 360px;
  height: 280px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%);
  overflow: auto;
  font-size: 20px;
}

#todo-list::-webkit-scrollbar {
  width: 5px;
}

#todo-list::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
}

#todo-list::-webkit-scrollbar-track {
  background-color: var(--light-blue);
}

.list-container {
  display: flex;
}

#todo-list li {
  padding: 4px 0;
  padding-left: 10px;
  width: 300px;
}

#todo-list li span {
  text-align: start;
}

#quote {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 87%;
  transform: translate(-50%);
}

#quote span:first-child {
  font-size: 23px;
}

#quote span:last-child {
  font-size: 16px;
}
